.services-grid {
  padding: 120px 20px;
  background: $bg-dark;
  color: $color-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;

  .services-title {
    text-align: center;
    margin-bottom: 60px;
  }

  .search-container {
    position: relative;
    width: 100%;
  }

  .search-bar {
    width: 100%;
    padding: 10px 40px 10px 20px;
    font-size: 1rem;
    border: 1px solid $color-light;
    border-radius: 12px;
    color: $color-light;
    background: $bg-dark-2;
  }

  .search-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    fill: $color-light;
  }

  .services-info {
    p {
      font-size: 24px;
    }
  }

  .grid {
    width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }

  .service-card {
    background: $bg-dark-2;
    padding: 20px;
    border: 1px solid $color-light;
    border-radius: 16px;
    transition:
      transform 0.3s,
      background-color 0.3s;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;

    h2 {
      margin: 0 0 10px;
      font-size: 20px;
    }

    p {
      margin: 0;
      font-size: 17px;
    }

    .service-description {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.6);
      padding: 10px;
      border-radius: 0 0 16px 16px;
      color: $color-light;
      opacity: 0;
      transition: opacity 0.3s;
      font-size: 16px;
      text-align: center;
    }

    &:hover {
      transform: scale(1.05);
      background: $bg-primary;
      border: 0;

      h2 {
        display: none;
      }

      .service-description {
        opacity: 1;
      }
    }
  }
}
