$bg-primary: #581eff;
$bg-secondary: #00e0ff;

$bg-light: #fafafa;
$bg-dark: #202020;
$bg-dark-2: #1e1e1e;

$color-light: #ffffff;
$color-dark: #000000;

$gradient-primary: linear-gradient(135deg, rgba(0,224,255,1) 0%, rgba(88,30,255,1) 100%);
$gradient-secondary: linear-gradient(135deg, rgb(40, 0, 255) 0%, rgba(88,30,255,1) 50%);

$font-sm: 14px;
$font-md: 17px;
$font-lg: 28px;
$font-xl: 40px;
$font-xxl: 64px;

$br-sm: 8px;
$br-md: 16px;
$br-lg: 24px;
$br-xl: 32px;
$br-xxl: 40px;
